
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #3F3F3F;
    line-height: 30px;
    text-align: center;
    background-color: white;
}

strong { font-weight: 600; }

a, a:hover, a:focus {
    color: black;
    text-decoration: none;
    transition: all .3s;
}

h1, h2 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 800;
    color: #555;
    line-height: 50px;
    font-family: 'PT Sans', sans-serif;
}

.services-container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.services-box {
    padding-top: 40px;
    text-align: left;
}


.services-box .services-box-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    border-radius: 28px;
    background: #31587A;
}

.services-box h3 {
    font-size: 25px;
    margin-top: 15px;
    padding: 0 0 10px 0;
}

.how-it-works-container {
    background-color: #dbdedd;
    padding-top: 5rem;
    padding-bottom: 13rem;
}

.how-it-works-box {
    margin-top: 120px;
}

.how-it-works-box-text {
    padding-right: 30px;
    text-align: left;
}

.how-it-works-box-text h3 {
    margin-top: 0;
}

.how-it-works-box-text .medium-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
}


.how-it-works-box-text a:hover,
.how-it-works-box-text a:focus {
    border: 0;
}

.how-it-works-box-img img {
    border-radius: 4px;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}

.testimonials-container {
    padding-bottom: 70px;
    padding-top: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.testimonial-list {
    margin-top: 30px;
    text-align: center;
}

.testimonial-list .testimonial-image img {
    max-width: 160px;
    border-radius: 4px;
}

.testimonial-list .testimonial-text {
    margin-top: 30px;
    opacity: 0.8;
}

.testimonial-list .testimonial-text a:hover,
.testimonial-list .testimonial-text a:focus { color: #fff; border: 0; }

.testimonial-list .nav-tabs {
    margin-top: 45px;
    border: 0;
    justify-content: center;
}

.testimonial-list .nav-tabs li {
    margin-left: 10px;
    margin-right: 10px;
}

.testimonial-list .nav-tabs li a {
    width: 16px;
    height: 16px;
    padding: 0;
    background: none;
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .nav-tabs li a:hover,
.testimonial-list .nav-tabs li a:focus {
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.8);
}

.testimonial-list .nav-tabs li a.active,
.testimonial-list .nav-tabs li a.active:focus {
    background: #72b8d3;
    border: 0;
}
