// Import page-specific CSS files here.
@import "home";

.form-control-index {
  width: 750px !important;
}

.search-column {
  justify-content: right;
  padding: 30px;
  margin-left: 350px;
}

.search-bar {
  border-style: double;
  padding: 10px;
  border-color: lightgray;
  background-color: white;
    input {
      border: none;
    }
}

.category-box {
  padding: 30px;
}

.category-box h3 {
  font-family: 'PT Sans', sans-serif;
  padding-top: 30px;
  font-size: 20px;
  color: #3F3F3F;
  line-height: 50px;
}
