<%# <div class="footer">

  <div class="footer-links">
    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fab fa-facebook"></i></a>
    <a href=""><i class="fab fa-twitter"></i></a>
  </div>

  <div class="footer-copyright"> </i> © 2021 Subify <i class="far fa-envelope"></i> <a href="mailto:subify@subify.com"> Contact Us</a>
  </div>
</div> %>

<%#
<div class="footer">
  <div class="container">

    <div class="row">
      <div class="footer-links">

      </div>
      <div class="footer-bottom">

      </div>

      <div class="footer-copyright">

      </div>
    </div>

  </div>
</div> %>

<div class="footer">
  <div class="container">
    <a class="scroll-link" href="#top-content">
      <i class="fas fa-chevron-circle-up fa-2x"></i>
    </a>

    <div class="footer-info">
      <div>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <br>
        <a href="mailto:subify@subify.com">Contact Us</a>
      </div>
      <div>
        <p> © 2021 Subify · All Rights Reserved · Privacy Policy </p>
      </div>
    </div>



  </div>
</div>
