<div class="link-position position-fixed">
  <a class="col col-lg-2 scroll-link position-right" href="#top-content">
    <i class="fas fa-chevron-circle-up text-black fa-2x"></i>
  </a>
</div>
<div class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="about-us">
          <h4>About Us</h4>
          <p class="paragraph">
          We are the team of four cheerful developers who are at the inital stage of their coding path and who are already striving to make people's lives easier by offering useful apps.
          </p>
        </div>
        <div class="footer-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class= "col-2"></div>
      <div class="col-5">
        <div class="contacts">
          <h4 class="widget-title">Contacts</h4>
          <div class="sh-contacts-widget-item"><i class="far fa-map"></i> Knowledge Park, Dubai</div>
          <div class="sh-contacts-widget-item"> <i class="fas fa-phone"></i> 000 267 899 442</div>
          <div class="sh-contacts-widget-item"><i class="far fa-envelope"></i> subify@subify.com</div>
          <div class="sh-contacts-widget-item"><i class="far fa-clock"></i> Mon.-Fri.: 09:00-18:00</div>
          <div class="contact-us-link"><a href="mailto:subify@subify.com"> Contact Us</a></div>
        </div>
      </div>

    </div>
    <div class="row pt-5 justify-content-center">
    <div class="col-12 copyright-info footer-copyright">
        <p> © 2021 Subify · All Rights Reserved · Privacy Policy </p>
    </div>
    </div>
  </div>
</div>
