<%# <div class="footer">

  <div class="footer-links">
    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fab fa-facebook"></i></a>
    <a href=""><i class="fab fa-twitter"></i></a>
  </div>

  <div class="footer-copyright"> </i> © 2021 Subify <i class="far fa-envelope"></i> <a href="mailto:subify@subify.com"> Contact Us</a>
  </div>
</div> %>


<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>

      <div class="footer-copyright">
        <p> © 2021 Subify · All Rights Reserved ·  Privacy Policy · Terms of service</p>
        <a href="mailto:subify@subify.com">Contact Us</a>
      </div>
    </div>

    <div class="row">
      <div class="footer-bottom">
        <a class="scroll-link" href="#top-content"><i class="fas fa-chevron-circle-up fa-2x">
        </i>
        </a>
      </div>
    </div>

  </div>
</div> %>


<div class="footer">

    <div class="row">
      <div class="footer-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <div class="row">
      <div class="footer-copyright">
        <p> © 2021 Subify · All Rights Reserved ·  Privacy Policy · Terms of service</p>
        <a href="mailto:subify@subify.com">Contact Us</a>
      </div>
    </div>

    <div class="row">
      <div class="footer-bottom">
        <a class="scroll-link" href="#top-content"><i class="fas fa-chevron-circle-up fa-2x"></i></a>
      </div>
    </div>



</div>
