<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fab fa-facebook"></i></a>
    <a href=""><i class="fab fa-twitter"></i></a>
  </div>

  <div class="footer-copyright"> </i> © 2021 Subify <i class="far fa-envelope"></i> <a href="mailto:subify@subify.com"> Contact Us/Send us a Feedback</a>
  </div>
</div>
