
<div class="banner"
     style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1586892477838-2b96e85e0f96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1759&q=80);">
  <div class="container header">
    <h1>SUBIFY</h1>
    <h2>The fastest & easiest way to manage your subscriptions</h2>
    <%= link_to "Add subscription", new_subscription_path, class: 'button btn btn-gradient rounded-1' %>
  </div>
</div>

