
<%# banner %>
<div class="banner d-flex justify-content-center align-items-center h-100" style= "background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1508873699372-7aeab60b44ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTV8fGJ1c2luZXNzJTIwbWVldGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60'); height: 100vh;">
  <div class="text-center container">
    <div class="row">
      <div class="col-md-5 text-left">
        <h1>Enjoy trial subscriptions again</h1><br>
        <p class='opacity-80'>Get back the control over your subscriptions. <br>
        Your e-assistant will remind you about the reoccuring payments.</p>

        <%= link_to "Manage Your Subscriptions", subscriptions_path, class: "btn btn-ghost mt-4" %>
      </div>
    </div>
  </div>
</div>
<br>
<%# services %>
<div class="services-container section-container py-5" id="services">
  <div class="container">
    <div class="row">
      <div class="col services section-description">
        <h2 class='mb-5'>Your Benefits</h2>
        <div class="divider-1"><span></span></div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4 services-box">
    <div class="row">
      <div class="col-md-4">
        <div class="services-box-icon">
          <i class="fas fa-user-graduate"></i>
        </div>
      </div>
      <div class="col-md-8">
        <h3>Smart</h3>
        <p>
          It is the end of long forms for creating subscriptions. <br>
          Our intelligent assistant understands information from your mailbox & instantly
          generates a reminder.
        </p>
      </div>
    </div>
    </div>
    <div class="col-md-4 services-box">
      <div class="row">
        <div class="col-md-4">
          <div class="services-box-icon">
            <i class="fas fa-archive"></i>
          </div>
        </div>
        <div class="col-md-8">
          <h3>Aggregated</h3>
          <p>
            Times of creating notes to remember all your subscriptions are over.
            Have all your free trials and ongoing subscriptions aggregated on a single and easy to read dashboard.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 services-box">
      <div class="row">
        <div class="col-md-4">
          <div class="services-box-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
        </div>
        <div class="col-md-8">
          <h3>Fast </h3>
          <p>
            Never forget about the deadlines.
            We send you a whatsapp message with the link that takes you to the unsubscsribe page of each subscription at a glance.
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<br>
<br>

<%# how it works %>
<div class="how-it-works-container section-container section-container-gray-bg" id="howitworks">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 how-it-works-box">
        <div class="how-it-works-box-text">
          <h2 class="mb-4">How it works:</h2>

            <div>
              <div class='d-flex align-items-center'>
                <img src="https://img.icons8.com/dotty/100/000000/1-circle.png"/>
                <h4 class='mx-3 mb-0'>Forward your assistant an email with the details</h4>
              </div>
              <div class='d-flex align-items-center'>
                <img src="https://img.icons8.com/dotty/100/000000/2-circle.png"/>
                <h4 class='mx-3 mb-0'>Receive WhatsApp notification and easily manage your free trials</h4>
              </div>
              <div class='d-flex align-items-center'>
                <img src="https://img.icons8.com/dotty/100/000000/3-circle.png"/>
                <h4 class='mx-3 mb-0'>Stop losing money</h4>
              </div>
            </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 how-it-works-box d-flex align-items-center">
        <div class="how-it-works-box-img">
          <img class="rounded" src="https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="about">
        </div>
      </div>
    </div>
  </div>
</div>

<%# testimonials %>
<div class="testimonials-container section-container section-container-image-bg py-5" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col testimonials section-description"></div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 testimonial-list">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <div class="testimonial-image">
              <img src="https://images.pexels.com/photos/3769021/pexels-photo-3769021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="testimonial-1">
            </div>
            <div class="testimonial-text">
              <p>
                "Subify is awesome! It saves so much time and money for me and I can't think of another useful app such as this. I highly recommend using it to everyone. Trust me, it hurts to be spending additional money which you didn't want to spend!"<br>
                <span> - Jessica Sparks -</span>
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
              <div class="testimonial-image">
                <img src="https://images.pexels.com/photos/3756679/pexels-photo-3756679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="testimonial-2">
              </div>
              <div class="testimonial-text">
                <p>
                  "I've been using Subify for several years and I really love it! It is very easy to use and gives a full control on your spendings related to subscription services."<br>
                  <span> - Jane Clark -</span>
                </p>
              </div>
          </div>
          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <div class="testimonial-image">
              <img src="https://images.pexels.com/photos/3779628/pexels-photo-3779628.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="testimonial-3">
            </div>
            <div class="testimonial-text">
              <p>
              "When it comes to managing your budget related to subscription services, Subify is my #1 go-to tool. If you’re serious about saving your budget and time, you need Subify. I can't think of any other better tool to be honest!<br>
              <span> - Chris Pitt -</span>
              </p>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

 <%= render 'shared/footer' %>
