<%# banner %>
<div class="banner d-flex justify-content-center align-items-center h-100" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://images.pexels.com/photos/317353/pexels-photo-317353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); height: 100vh;">
      <div class="text-center container">
        <div class="row">
        <div class="col-md-8 offset-md-2 text">
        <h1>SUBIFY</h1><br>
        <p>The fastest & easiest way to manage your subscriptions</p>
        <a class="btn btn-ghost" <%= link_to "Add subscriptions", new_subscription_path %></a>
        </div>
        </div>
      </div>
    </div>
    </div>
</div>

<%# services %>
<div class="services-container section-container" id="services">
  <div class="container">
    <div class="row">
      <div class="col services section-description">
        <h2>Our Services</h2>
        <div class="divider-1"><span></span></div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4 services-box">
    <div class="row">
      <div class="col-md-4">
        <div class="services-box-icon">
          <i class="fab fa-youtube"></i>
        </div>
      </div>
      <div class="col-md-8">
        <h3>Entertainment</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
      </div>
    </div>
    </div>
    <div class="col-md-4 services-box">
      <div class="row">
        <div class="col-md-4">
          <div class="services-box-icon">
            <i class="fas fa-user-graduate"></i>
          </div>
        </div>
        <div class="col-md-8">
          <h3>Education</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 services-box">
      <div class="row">
        <div class="col-md-4">
          <div class="services-box-icon">
            <i class="fas fa-piggy-bank"></i>
          </div>
        </div>
        <div class="col-md-8">
          <h3>Finances & Utilities </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<%# how it works %>
<div class="how-it-works-container section-container section-container-gray-bg" id="howitworks">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 how-it-works-box">
        <div class="how-it-works-box-text">
          <h3>How it works</h3>
          <p class="medium-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
            Ut wisi enim ad minim veniam, quis nostrud.
            Exerci tation ullamcorper suscipit <a href="#">lobortis nisl</a> ut aliquip ex ea commodo consequat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
            Ut wisi enim ad minim veniam, quis nostrud.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-5 how-it-works-box">
        <div class="how-it-works-box-img">
          <img src="https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="about">
        </div>
      </div>
    </div>
  </div>
</div>

<%# testimonials %>
<div class="testimonials-container section-container section-container-image-bg" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col testimonials section-description"></div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 testimonial-list">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <div class="testimonial-image">
              <img src="https://thumbnailer.mixcloud.com/unsafe/300x300/extaudio/9/a/c/1/0a11-575a-4590-8703-59bdfc1a3203.jpg" alt="testimonial-1">
            </div>
            <div class="testimonial-text">
              <p>
                "I've been using Subify for several years and I really love it! It is very easy to use and gives a full control on your spendings related to subscription services.
                Lorem ipsum dolor sit amet."<br>
                <span> - Sami Benyelles -</span>
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
              <div class="testimonial-image">
                <img src="https://images.pexels.com/photos/2381069/pexels-photo-2381069.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="testimonial-2">
              </div>
              <div class="testimonial-text">
                <p>
                  "Subify is awesome! It saves so much time and money for me and I can't think of another useful app such as this. I highly recommen using it to everyone who values their time and prefers to control their subscription services. Trust me, it hurts to be spending additional money which you didn't want to spend!"<br>
                  <span> - Jane Clark -</span>
                </p>
              </div>
          </div>
          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <div class="testimonial-image">
              <img src="https://images.pexels.com/photos/3779628/pexels-photo-3779628.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="testimonial-3">
            </div>
            <div class="testimonial-text">
              <p>
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              Lorem ipsum dolor sit amet."<br>
              <span> - Chris Pitt -</span>
              </p>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%# contact us %>
<div class="contact-us-container section-container section-container-gray-bg" id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 contact-us-box">
        <div class="contact-us-box-text">
          <h3>About Us</h3>
          <p class="medium-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
            Ut wisi enim ad minim veniam, quis nostrud.
            Exerci tation ullamcorper suscipit <a href="#">lobortis nisl</a> ut aliquip ex ea commodo consequat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
            Ut wisi enim ad minim veniam, quis nostrud.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
