<div class="title-top" data-controller="background">
  <h2>EDIT SUBSCRIPTION</h2>
</div>

<div class="container new-page">
  <div class="row p-3">
    <div class="col-5">
      <%= render "form", subscription: @subscription %>
    </div>

    <div class="col-7 img-new">
      <svg width="85%" height="85%" viewBox="0 0 90 100">
        <defs>
          <clipPath id="shape">
            <path d="M3,10 L200,10 L200,15 L10,110"></path>
          </clipPath>
        </defs>
        <image clip-path="url(#shape)" xlink:href="https://images.unsplash.com/photo-1585776245991-cf89dd7fc73a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" x="0" y="0" height="100%" width="100%" />
      </svg>
    </div>
  </div>
</div>
