<div class="container  new-page">
  <div class="row justify-content-center">
      <h2 class=" mt-5">New Subscription Entry</h2>
  </div>

  <div class="row mt-4">
    <div class="col-5">
      <%= render "form", subscription: @subscription %>
    </div>

    <div class="col-7 img-new">
      <svg width="90%" height="90%" viewBox="0 0 90 100">
        <defs>
          <clipPath id="shape">
          <path d="M3,10 L200,10 L200,10 L10,110"></path>
          </clipPath>
        </defs>
        <image clip-path="url(#shape)" xlink:href="https://images.unsplash.com/photo-1633113088983-12fb3b2fe0ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" x="0" y="0" height="100%" width="100%" />
      </svg>
    </div>
  </div>
</div>
