
.btn-ghost {
  color: white;
  border: 50px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  background-color: #72b8d3;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.8;
}

.btn-gradient {
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#365B6A, #30515e);
  transition: background 0.3s ease;
}

.btn-gradient:hover {
  background: linear-gradient(#72b8d3, #3a7a94);
  color: white;
}

.btn-dark {
  background: linear-gradient(#101c20, #131a1d);
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: 1px solid #294652;
}

.btn-dark:hover {
  background: radial-gradient(#b62f2f, #d83b3b);

}

.btn-delete {
  background: linear-gradient(#da2c2c, #eb1212);
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: 1px solid #294652;
}

.btn-delete:hover {
  background: radial-gradient(#e09595, #cf5454);
  color: white;
}



.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active, .btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #9b59b6;
    background: rgba(155, 89, 182, 0.9);
    outline: 0;
    color: #fff;
    box-shadow: none;
}
