
.btn-ghost {
  color: white;
  padding: 9px 27px;
  border-radius: 20px;
  font-weight: bolder;
  background-color: #E63946;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.8;
}

.btn-edit {
  color: #787373;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #A8DADC;
  transition: background 0.3s ease;
}

.btn-edit:hover {
  color: black;
}

.btn-back {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background:  #1D3557;
  transition: background 0.3s ease;
}

.btn-back:hover {
  color: #787373;
}

.btn-delete {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #E63946;
  transition: background 0.3s ease;
}

.edit-buttons {
  opacity: 1.5;
}

.btn-delete:hover {
  color: #787373;
}

// .btn-dark {
//   // background: linear-gradient(#101c20, #131a1d);
//   background:  #A8DADC;
//   color: white;
//   padding: 8px 10px;
//   border-radius: 4px;
//   font-weight: bold;
//   transition: background 0.3s ease;
//   border: 1px solid #294652;
// }

// .btn-dark:hover {
//   background: radial-gradient(#b62f2f, #d83b3b);

// }
