
.cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 24px;
  margin-bottom: 1.5em;
  border-radius: 4px;
}

.card-img-top {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -14px;
  left: -13px;
}

.subscription-card {
  position: relative;
  height: 165px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 45% 46%;
  grid-gap: 12px;
  grid-column-gap: 8px;
  background: white;
  padding: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.subscription-card .logo {
  background-size: cover;
  border-radius: 4px;
  background-repeat: round;
}

.subscription-card .title {
  display: flex;
  align-items: end;
  text-align: left;
  font-size: 1.3rem;
  color:black;
  line-height: 1.2;
}

.subscription-card .text-muted {
  text-transform: uppercase;
  display: flex;
  justify-content: unset;
  align-items: baseline;
  font-size: 65%;
}


.subscription-card .price {
  flex-grow: 1;
  align-items: baseline;
}

.value {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

.currency {
  font-size: 0.6rem;
}

.type {
  text-align: right;
  margin-top: -0.75rem;
  display: block;
}

.categorytitle {
  text-align: start;
  border-bottom: 1px solid #dee2e6;
}

.badgefree {
  color: white;
  top: -42px;
  background:#a8dadc47;
  padding: 6.2px 16px;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.badgepaid {
  color: white;
  top: -42px;
  background:#a8dadc47;
  padding: 6.2px 16px;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
