.cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 24px;
  margin-bottom: 1.5em;
  border-radius: 4px;
}

.card-img-top {
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
}

.subscription-card {
  position: relative;
  height: 165px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 45% 46%;
  grid-gap: 12px;
  grid-column-gap: 8px;
  background: white;
  padding: 16px;
  overflow: hidden;
  -webkit-transition: all 0.6s ease;
  transition: all 1.6s ease;
  &:hover {
    .hover-box{
      transform: translateY(0);
    }
  }
}

.hover-box{
  height: 50%;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: all .3s ease-in-out;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #457b9dd4;
  color: white
}

.hover-box .legend {
  font-size: 10px;
    position: absolute;
    height: 30px;
    right: -55px;
    top: -18px;
    text-align: start;
    p {
      line-height: 1.1;
    }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.subscription-card .logo {
  background-size: cover;
  border-radius: 4px;
  background-repeat: round;
}

.subscription-card .title {
  display: flex;
  align-items: end;
  text-align: left;
  font-size: 1.3rem;
  color:black;
  line-height: 1.2;
}

.subscription-card .text-muted {
  text-transform: uppercase;
  display: flex;
  justify-content: unset;
  align-items: baseline;
  font-size: 65%;
}


.subscription-card .price {
  flex-grow: 1;
  align-items: baseline;
}

.value {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

.currency {
  font-size: 0.6rem;
}

.type {
  text-align: right;
  margin-top: -0.75rem;
  display: block;
}

.categorytitle {
  text-align: start;
  border-bottom: 1px solid #dee2e6;
}


.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
}
