.footer {
  width: 100%;
  text-decoration: none;
  background: #757675;
  line-height: 2.5;
  display: flex;
  color: white;
  font-size: 16px;
}

.footer-links {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
    a {
      color: #72b8d3 !important;
    }
}

.footer-links :hover {
  opacity: 1;
}


.scroll-link {
  color: #757675;
}

.scroll-link :hover {
  color: #72b8d3 ;
}


.contacts
  a, a:hover, a:focus {
    color: #72b8d3 !important;
}

.col-5 {
  text-align: left;
}

.link-position {
  padding-bottom: 2rem;
  bottom: 1vh;
  right: 1vw;
}
