.footer {
  width: 100%;
  text-decoration: none;
  background: #F4F4F4;
  display: flex;
  color: rgba(0,0,0,0.3);
   font-size: 16px;
}

.footer-links {
  color: #01374d;
  opacity: 0.25;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;

  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.footer-links :hover {
  opacity: 1;
}

.footer-info {
  justify-content: space-between;
  display: flex;

.footer-copyright {
  margin-right: 10px;
  align-items: center;
  margin-bottom: 5px;
  padding: 0px 10px;
  margin-left: 30px;

}
