.navbar-lewagon {
  justify-content: space-between !important;
  font-weight: bolder;
  background-color: transparent;
  opacity: 0.8;
  transition: 0.5s background-color ease;
  .nav-link {
    color: white !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: rgb(250, 249, 249);
  .nav-link {
    color: black !important;
  }
  box-shadow: 1px 1px 1px lightgrey;
}
