.img-new {
  margin-top: -130px;
  position:fixed;
  margin-left: 450px;
}
.new-page {
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.fields {
  line-height: 25px;
  opacity: 0.95;
  padding: 10px;
  margin: 9px;
  border-radius: 3px;
}

input {
  border: none !important;
}
